header-container {
    text-align: center; 
    margin-bottom: 20px; 
    background-color: #f8f8f8; 
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top of the container */
    z-index: 1; /* Ensure it stays above other content */
    padding: 10px; /* Add some padding for better appearance */
}

.menu-entree-menu {
    display: flex; 
    flex-direction: column; 
    padding: 20px;
    background-color: #f8f8f8; 
    height: 90%; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}


.menu-columns {
    display: flex; 
    flex: 1; 
}

.menu-column {
    flex: 1;
    padding: 10px; 
}

.menu-column ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.menu-column li {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #fff; 
    transition: background-color 0.3s; 
    width: 98%;
    height: 150px; 
}

.entree-image,
.default-image {
    width: 100px;  
    height: 100px; 
    background-color: #fff;
    border: 1px solid #ccc; 
    margin-bottom: 5px; 
}

.menu-column li:hover {
    background-color: #eaeaea;
}

.menu-column p {
    margin: 0; 
    text-align: center; 
    flex-grow: 1; 
}
