.menu-view {
  display: flex;
  padding: 20px;
  height: 100vh; /* Ensure the container takes full vertical height */
}
.menu-left-panel,
.menu-middle-panel,
.menu-right-panel {
  overflow-y: none; /* Enable scrolling if content exceeds max height */
}
.menu-left-panel {
  flex: 0 0 24%; /* Fixed width of 25% */
  margin: 10px; 
}

.menu-middle-panel {
  flex: 0 0 50%; /* Fixed width of 50% */
  margin: 10px; 
}

.menu-right-panel { 
  flex: 0 0 24%; /* Fixed width of 25% */
  margin: 10px; 
}
