.scroll-pane {
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 120vh;   
    padding: 15px;
}

#ingredient-scroll-pane{
    height: 30vh;
    border:3px solid #5d90c3;
}

.main-content {
    padding: 20px;
}

.template-box {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
}

