/*Custom Colors*/
:root {
    --button-selection-color: #ce123c;
    --button-navbar-color: #f0f0f0;
    --button-disabled-color: #353535;
    --button-micro-menu-color: #f0f0f0;
    --button-sales-menu-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

.cashier-view {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cashier-left-panel {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.cashier-ticket-stack {
    height: 70%;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    display: flex;
}

.cashier-sales-menu {
    flex: 3;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 16 / 9;
}

.cashier-right-panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.cashier-nav-bar {
    flex: 1;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 10/1;
}

.cashier-micro-menu {
    flex: 9;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 5/3;
}

@media (max-width: 768px) {
    .cashier-view {
        flex-direction: column;
    }

    .cashier-left-panel,
    .cashier-right-panel {
        width: 100%;
        height: 50%;
    }

    .cashier-left-panel {
        order: 1;
    }

    .cashier-right-panel {
        order: 0;
    }

    .cashier-ticket-stack {
        flex: 7;
        order: 0;
    }

    .cashier-sales-menu {
        flex: 3;
        order: 1;
        aspect-ratio: 41 / 3;
    }

    .cashier-nav-bar {
        flex: 2;
        order: 0;
    }

    .cashier-micro-menu {
        flex: 8;
        order: 1;
    }
}
