.cashier-nav-bar {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(1, 1fr);
   width: 100%;
   height: auto;
   font-size: 1.75vw;
   border: 1px solid #000000;
}

.cashier-nav-bar button {
   background: #f0f0f0;
   border: 0.1vh solid #000000;
   cursor: pointer;
   font-size: 1.75vw;
   width: 100%;
   height: 100%;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-nav-bar button:not(.selected):enabled:hover {
   background-color: #cccbcb;
}

.cashier-nav-bar button.selected:hover {
   background-color: #0056b3;
}

.cashier-nav-bar button:disabled {
   background-color: #353535 !important;
   color: #a7a7a7 !important;
   cursor: default;
   user-select: none;
}

.cashier-nav-bar button.selected {
   background-color: #007bff;
   color: white;
   border: 1px solid #007bff;
}

.cashier-nav-bar button:not(.selected) {
   background-color: #f0f0f0;
   color: black;
}