.cashier-nav-bar {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(1, 1fr);
   width: 100%;
   height: auto;
   font-size: 1.75vw;
   border: 1px solid #000000;
}

.cashier-nav-bar button {
   background: var(--button-navbar-color);
   border: 0.1vh solid #000000;
   cursor: pointer;
   font-size: 1.75vw;
   width: 100%;
   height: 100%;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-nav-bar button:not(.selected):enabled:hover,
.cashier-nav-bar button:not(.selected):enabled:focus {
   filter: brightness(0.8);
   transition: filter 0.3s, color 0.3s;
}

.cashier-nav-bar button.selected:hover,
.cashier-nav-bar button.selected:focus {
   filter: brightness(0.8);
   transition: filter 0.3s, color 0.3s;
}

.cashier-nav-bar button:disabled {
   background-color: var(--button-disabled-color) !important;
   color: #a7a7a7 !important;
   cursor: default;
   user-select: none;
}

.cashier-nav-bar button.selected {
   background-color: var(--button-selection-color);
   color: white;
}
