.cashier-sales-buttons {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
   height: 100%;
   font-size: 1.75vw;
   border-radius: 8px;
   
}

.cashier-sales-buttons>div {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--button-sales-menu-color);
   border: 1px solid #000000;
   cursor: pointer;
   transition: background-color 0.3s;
}

.cashier-sales-buttons button.selected {
   background-color: var(--button-selection-color);
   color: white;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-sales-buttons button:not(.selected) {
   background-color: var(--button-sales-menu-color);
   color: black;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-sales-buttons .cashier-employee-name {
   border: 1px solid #000000;
   cursor: default;
   user-select: none;
   /* idk if we want to make it so you can select the text */
}

.cashier-sales-buttons button {
   background: transparent;
   border: none;
   cursor: pointer;
   font-size: 1.75vw;
   width: 100%;
   height: 100%;
   padding: 0;
}

.cashier-sales-buttons button:not(.selected):enabled:hover {
   filter: brightness(0.8);
   transition: filter 0.3s, color 0.3s;
}

.cashier-sales-buttons button.selected:enabled:hover {
   filter: brightness(0.8);
   transition: filter 0.3s, color 0.3s;
}

.cashier-options-button .cashier-options-image {
   width: 5.5vw;
   height: auto;
   object-fit: contain;
   user-select: none;
   pointer-events: none;
}

.cashier-options-button button.selected .cashier-options-image {
   width: 5.5vw;
   height: auto;
   object-fit: contain;
   filter: brightness(0) invert(1);
   user-select: none;
   pointer-events: none;
}
.cashier-sales-buttons button:disabled {
   background-color: #353535;
   color: #a7a7a7;
   cursor: default;
   border: 1px solid #000000;
   user-select: none;
   transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 768px) {
   .cashier-sales-buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      height: 100%;
      font-size: 3vw;
      border-radius: 8px;
   }

   .cashier-sales-buttons>div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--button-sales-menu-color);
      border: 1px solid #000000;
      cursor: pointer;
   }

   .cashier-sales-buttons button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 3vw;
      width: 100%;
      height: 100%;
      padding: 0;
   }

   .cashier-options-button .cashier-options-image {
      width: 25vw;
      height: auto;
      object-fit: contain;
   }
   .cashier-options-button .cashier-options-image {
      width: 7.5vw;
      height: auto;
      object-fit: contain;
      user-select: none;
      pointer-events: none;
   }
      .cashier-options-button button.selected .cashier-options-image {
         width: 7.5vw;
         height: auto;
         object-fit: contain;
         filter: brightness(0) invert(1);
         user-select: none;
         pointer-events: none;
      }
}