.cashier-sales-buttons {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
   height: 100%;
   font-size: 1.75vw;
}

.cashier-sales-buttons>div {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f0f0f0;
   border: 1px solid #000000;
   cursor: pointer;
   transition: background-color 0.3s;
}

.cashier-sales-buttons button.selected {
   background-color: #007bff;
   color: white;
   border: 1px solid #007bff;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-sales-buttons button:not(.selected) {
   background-color: #f0f0f0;
   color: black;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-sales-buttons .cashier-employee-name {
   border: 1px solid #000000;
   cursor: default;
   user-select: none;
   /* idk if we want to make it so you can select the text */
}

.cashier-sales-buttons button {
   background: transparent;
   border: none;
   cursor: pointer;
   font-size: 1.75vw;
   width: 100%;
   height: 100%;
   padding: 0;
}

.cashier-sales-buttons button:not(.selected):enabled:hover {
   background-color: #cccbcb;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-sales-buttons button.selected:enabled:hover {
   background-color: #0056b3;
   transition: background-color 0.3s, color 0.3s;
}

.cashier-options-button .cashier-options-image {
   width: 5.5vw;
   height: auto;
   object-fit: contain;
}

.cashier-sales-buttons button:disabled {
   background-color: #353535;
   color: #a0a0a0;
   cursor: default;
   opacity: 0.6;
   border: 1px solid #000000;
   user-select: none;
   transition: background-color 0.3s, color 0.3s;
}