.cashier-ticket-stack {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.ticket-list {
   flex-grow: 1;
   overflow-y: auto;
   flex-direction: column-reverse;
}

.total-panel {
   position: relative;
   width: 100%;
   padding: 1%;
   background-color: #f4f4f4;
   border-top: 5px solid #000;
   border-radius: 8px 8px 0 0;
   font-size: 18px;
   color: #333;
}

.total-panel p {
   font-size: 1em;
   color: #333;
   margin: 0.1% 0;
}

.total-panel h3 {
   font-size: 18px;
   font-weight: bold;
   margin-top: 10px;
}

.ticket-item {
   display: block;
   width: 95%;
   box-sizing: border-box;
   border-style: solid;
   margin: 5px 0;
   margin-right: 2.5px;
   margin-left: 2.5px;
   padding: 3px;
   border-top: 3px solid black !important;
   background-color: #e0e0e0;
   color: #000;
   text-align: left;
   cursor: pointer;
   border-radius: 8px;
   transition: transform 0.2s, background-color 0.2s;
   opacity: 0;
}

.ticket-item h4 {
   margin-bottom: 5px;
}

.ticket-item p {
   margin-top: 0;
   margin-bottom: 5px;
}

.ticket-item.highlighted {
   background-color: #9fc9f7;
}

.ticket-item:disabled {
   background-color: #a0a0a0;
   cursor: not-allowed;
   box-shadow: none;
}

/* ticket sliding */
@keyframes slide-in {
   0% {
      transform: translateX(-100%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.ticket-item.slide-in {
   animation: slide-in 0.2s ease-out forwards;
}

@media (max-width: 768px) {
   .cashier-left-panel {
      width: 100%;
   }

   .ticket-item {
      width: 100%;
   }
}

@keyframes slide-in-option {
   0% {
      transform: translateX(-100%);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

/* indiviual options */
.ticket-item .ticket-options .option-item {
   animation: slide-in-option 0.1s ease-out forwards;
   opacity: 0;
}

.ticket-item .ticket-options .option-item.slide-in-option {
   animation: slide-in-option 0.1s ease-out forwards;
}