.ripple-container {
   position: relative;
   overflow: hidden;
   z-index: 0;
}

.ripple {
   position: absolute;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.3);
   animation: ripple-animation .2s ease-out forwards;
   z-index: 9999;
   pointer-events: none;
}

@keyframes ripple-animation {
   to {
      transform: scale(4);
      opacity: 0;
   }
}