.alacarte-buttons,
.apps-buttons,
.drinks-buttons,
.entrees-buttons,
.sides-buttons {
   display: grid;
   row-gap: 1.5vh;
   column-gap: 1.5vw;
   height: 100%;
   width: 100%;
   padding: 5%;
   box-sizing: border-box;
   grid-auto-flow: row;
}

.grid-3x3 {
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.grid-4x4 {
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
}

.grid-5x5 {
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
}

.grid-6x6 {
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(6, 1fr);
}

.entree-button,
.side-button,
.drink-button,
.app-button,
.alacarte-button {
   background-color: #f0f0f0;
   color: black;
   border: 0.25vh solid #000000;
   border-radius: 4%;
   padding: 0.5vw;
   font-size: 1.5vw;
   cursor: pointer;
   transition: background-color 0.3s;
   min-width: 60px;
   opacity: 0;
   transform: translateY(50px);
   animation: slide-up 0.1s ease-out forwards;
}

.entree-button,
.side-button,
.app-button {
   padding: 2vw;
}

.entree-button:hover,
.side-button:hover,
.drink-button:hover,
.app-button:hover,
.alacarte-button:hover {
   background-color: #cccbcb;
}

@media (max-width: 768px) {

   .alacarte-buttons,
   .apps-buttons,
   .drinks-buttons,
   .entrees-buttons,
   .sides-buttons {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: calc(100% - 20px);
   }

   .entree-button,
   .side-button,
   .drink-button,
   .app-button,
   .alacarte-button {
      font-size: 1.5vw;
      padding: 0.8vw;
   }
}

@keyframes slide-up {
   0% {
      opacity: 0;
      transform: translateY(50px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}