.cashier-micro-options {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2, auto);
   width: 100%;
   box-sizing: border-box;
   align-items: center;
}

.cashier-micro-options button {
   background-color: #f0f0f0;
   color: black;
   border: 0.25vh solid #000000;
   border-radius: 4%;
   padding: 10vh, 30vw;
   font-size: 3.5vw;
   cursor: pointer;
   transition: background-color 0.3s;
   width: 100%;
   height: 30vh;
   text-align: center;
   margin: 10px;
   opacity: 0;
   transform: translateY(50px);
   animation: slide-up 0.1s ease-out forwards;
}

.cashier-micro-options button:hover {
   background-color: #cccbcb;
}

@media (max-width: 768px) {
   .cashier-micro-options {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
   }

   .cashier-micro-options button {
      height: auto;
   }
}

@keyframes slide-up {
   0% {
      opacity: 0;
      transform: translateY(50px); /* Start below */
   }
   100% {
      opacity: 1;
      transform: translateY(0); /* End at normal position */
   }
}


@media (max-width: 768px) {
   .cashier-micro-options {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
   }

   .cashier-micro-options button {
      height: auto;
   }
}